.painhaut{
	  height: 70px;
  width: 60%;
  background: #e5b05a;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
    margin-left: 280px;
    }
  
.fromage{
	height: 15px;
  width: 65%;
  background: #f2c120;
  border-bottom: solid 2px rgba(0,0,0,.1);
    margin-left: 250px;
  }
  
.viande{
	height: 60px;
  width: 70%;
  background: #74380d;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
    margin-left: 250px;
  }
  
.salade{
	  height: 35px;
  width: 65%;
  background: #ad370b;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
  margin-left: 250px;
  }
  
 .painbas{
	  height: 35px;
  width: 60%;
  background: #e5b05a;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1);
  margin-left: 280px;
  }