  painhaut{
background-image:https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwia4OLG_NbWAhWMChoKHZjBD8wQjRwIBw&url=http%3A%2F%2Fwww.lepetrin.fr%2Frecettes%2Fpate-levee%2Fpain-gourmand-aux-cereales%2F&psig=AOvVaw1fAWKvrteP7-rUIexNtMXH&ust=1507206666871080;
margin-top : 100px;
margin-right: 100px;
margin-bottom: 100px;
margin-left: 100px;
font: 1em sans-serif;
border: 1px solid #999;  
    }
  
  fromage{
  background-color : yellow;
  margin-top : 100px;
margin-right: 100px;
margin-bottom: 100px;
margin-left: 100px;
font: 1em sans-serif;
border: 1px solid #999;
  
  }
  
  viande{
  background-color : red;
  margin-top : 100px;
margin-right: 100px;
margin-bottom: 100px;
margin-left: 100px;
font: 1em sans-serif;
border: 1px solid #999;  
  }
  
  salade{
  background-color : green;
  margin-top : 100px;
margin-right: 100px;
margin-bottom: 100px;
margin-left: 100px;
font: 1em sans-serif;
border: 1px solid #999;  
  
  }
  
  painbas{
  background-image:https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwia4OLG_NbWAhWMChoKHZjBD8wQjRwIBw&url=http%3A%2F%2Fwww.lepetrin.fr%2Frecettes%2Fpate-levee%2Fpain-gourmand-aux-cereales%2F&psig=AOvVaw1fAWKvrteP7-rUIexNtMXH&ust=1507206666871080;
margin-top : 100px;
margin-right: 100px;
margin-bottom: 100px;
margin-left: 100px;
font: 1em sans-serif;
border: 1px solid #999; 
  }